<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>

    <div id="wrap">
        <i class="fa fa-search"></i>
        <span id="search" name="search" onchange="send_data()" contenteditable="true" placeholder="Enter a phrase"></span> 
    </div>

    <div id="results" class="row">
    </div>
      


    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/imagesloaded.js') }}"></script>
    
    <script src="{{ url_for('static', filename='scripts/js/AnimOnScroll.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/classie.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
  </body>
  {% raw %}
  <script id="results_item" type="text/x-handlebars-template">
    <ul class="grid effect-2" id="grid">
    {{#each results}}
      <li><a href="http://drbl.in/fWMM"><img src="{{poster.[0]}}"></a></li>
    {{/each}}
    </ul>
  </script>
  {% endraw %}
</html>